input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: block;
  padding: 12px 12px;
  cursor: pointer;
  border-radius: 7px;
  background-color: #3B82F6;
  color: #fff;
}

small{
  color: red;
}
