<p-toast></p-toast>

<div class="surface-card p-7 shadow-2 border-round min-w-full md:w-6">
  <div class="pr-8 pl-8 text-center mb-5">
    <img src="assets/images/logo_rgb.svg" alt="Image" height="50" class="mb-3">
  </div>
  <div>
    <div class="field">
      <label for="password" class="block text-900 font-medium mb-2">Naujas slaptažodis</label>
      <p-password autoWidth="false" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" class="mb-3" id="password" [(ngModel)]="userReset.password" [feedback]="false" [toggleMask]="true"></p-password>
      <small class="p-error" *ngIf="submitted && !userReset.password">Slaptažodis privalomas</small>
    </div>
    <div class="field">
      <label for="passwordConfirm" class="block text-900 font-medium mb-2">Slaptažodžio patvirtinimas</label>
      <p-password autoWidth="false" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" class="mb-3" id="passwordConfirm" [(ngModel)]="userReset.confirmPassword" [feedback]="false" [toggleMask]="true"></p-password>
      <small class="p-error" *ngIf="submitted && !userReset.confirmPassword">Slaptažodžio patvirtinimas privalomas</small>
      <small class="p-error" *ngIf="submitted && (userReset.confirmPassword != userReset.password)">Slaptažodžiai nesutampa</small>
    </div>

    <button pButton pRipple (click)="onReset()" label="Keisti slaptažodį" icon="pi pi-replay" class="w-full p-button-danger"></button>
  </div>
</div>
